/* consolidated this font-family to evenything */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* consolidated this font-family to header and footer */
header, 
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #d9dcd6;
}

/* made header a flexbox for portability to smaller viewing ports and to make the nav links wrap-able */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
}

/* converted to element selector and removed display property */
header h1 {
    font-size: 48px;
}

/* made nav a flexbox for portability to smaller viewing ports and to make the nav links wrap-able */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

nav ul li {
    font-size: 20px;
    display: inline-block;
    padding-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    list-style-type: none;
}

/* made this exclusive to a elements in the nav bar making usual funcationality normal in the rest of the document */
nav a {
    color: #ffffff;
    text-decoration: none;
}

/* added feedback for hyperlinks in nav, will see color change on hover */
nav a:hover, .seo {
    color: #d9dcd6;
}

.hero {
    /* lowered height to 520px from 800px */
    height: 520px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

p {
    font-size: 16px;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

article {
    display: flex;
    flex: 1 1 75%;
    flex-wrap: wrap;
    margin-left: 20px;
}

article section {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    padding: 50px;
    width: 100%;
    min-height: 300px;  /* replaced height with min-height, retained value */
    background-color: #0072bb;
    color: #ffffff;
}

article section h2 {
    margin-bottom: 20px;
    font-size: 36px;

}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-height: 200px;
    display: inline-block;
}

aside {
    display: flex;
    flex: 1 1 20%;
    flex-wrap: wrap;
    float: right;
    /* min-width: 200px; */
    height: 100%;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
    color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
}

aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

 /* removed font-family attribute from footer; redundant use */
footer {
    padding: 30px;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
